%html
  %head
    %title PdfConversionwithstyleshhet
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "custom"
    = javascript_include_tag "application"
    = javascript_include_tag "custom"
    = csrf_meta_tags
  %body
    = yield
